/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  overflow: hidden; /* Prevent body scrollbars */
}

.app-wrapper {
  display: flex;
  height: 100vh;
  transition: margin-left 0.3s ease;
}

.side-panel {
  width: 250px;
  background-color: #333;
  color: #ecf0f1;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  left: -250px; /* Hidden by default */
  transition: left 0.3s ease;
  z-index: 1000;
}

.app-wrapper.panel-open .side-panel {
  left: 0;
}

.side-panel h3 {
  margin-top: 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-left: 7px;
}

.server-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.server-list li {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  transition: background-color 0.2s ease;
}

.server-list li:hover {
  background-color: #34495e;
}

.server-list li.active {
  background-color: #3b82f6;
  font-weight: bold;
}

.status-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #7f8c8d; /* Default to grey */
}

.status-dot.online {
  background-color: #2ecc71; /* Green */
}

.status-dot.offline {
  background-color: #e74c3c; /* Red */
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: margin-left 0.3s ease;
}

.app-wrapper.panel-open .main-content {
  margin-left: 250px;
}

.panel-toggle {
  position: fixed;
  top: 10px;
  left: 0px;
  z-index: 1001;
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  &:hover{
    font-weight: bolder;
    color: #2ecc71;
  }
}


.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px;
  padding-left: 20px; /* Space for the toggle button */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.controls {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.main-logo {
  height: 77px;
  width: auto;
  object-fit: contain;
}

.header input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.header button, .header label {
  padding: 8px 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.header button:hover {
  background-color: #777;
}

.header label {
  background-color: transparent;
}

.header label input {
  margin-right: 5px;
}

.log-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: black;
  border-top: 1px solid #ccc;
  color: greenyellow;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

.error-message {
  color: red;
  font-weight: bold;
}

.line-number {
  color: #ccc;
  font-weight: bold;
  margin-right: 5px;
}
